.userInfo {
  display: flex;
  position: relative;
  align-items: baseline;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 0.04em;
}

.userNickname {
  padding: 10px 15px;
  border-right: 2px solid #e0e0e0;
  color: #212121;
}
.userAvatar {
  position: absolute;
  top: -5px;
  left: -40px;
}

.button {
  border: none;
  background-color: inherit;
  padding: 0;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #9b9faa;
  cursor: pointer;
}

@media (max-width: 767px) {
  .userInfo {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 82px;
    padding: 4px 15px;
    background-color: #eff1f3;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .userAvatarBlock {
    position: relative;
  }
  .userAvatar {
    position: absolute;
    top: -20px;
    left: -25px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .userInfo {
    margin-right: 50px;
  }
}
