@import '../../utils/variables.css';

.button {
  min-width: 176px;
  border: none;
  padding: 13px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 700;
  letter-spacing: 0.04em;
  border-radius: 30px;
  cursor: pointer;
}

.primary {
  color: #ffffff;
  background-color: var(--color-active);
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  transition: var(--transition);
}

.primary:hover {
  transform: scale(1.05);
  transition: var(--transition);
}

.primary:disabled {
  background-color: var(--color-disabled);
  cursor: auto;
}

.primary:disabled:hover {
  transform: scale(1);
  transition: all 250ms linear;
}

.secondary {
  color: var(--color-active);
  background-color: #ffffff;
  border: 2px solid var(--color-active);
}

.small {
  min-width: 1px;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .smallFromTablet {
    min-width: 1px;
    width: 50px;
    height: 50px;
  }
}
