/* .calculatorPage {
} */

@media screen and (min-width: 1280px) {
  .flexBox {
    display: flex;
  }
  .formContainer {
    background-color: var(--color-white);
    width: 58%;
  }
  .background {
    background-color: var(--sideBarBackground);
  }
}
