/* .registrationForm {
} */
@import '../../utils/variables.css';

.formAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  margin-bottom: 60px;
  color: #fc842d;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.95;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  margin-bottom: 20px;
}

.buttons > button:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .formAuth {
    padding-top: 157px;
    margin-left: 90px;
    align-items: flex-start;
  }

  .buttons {
    flex-direction: row;
  }
  .button {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1240px) {
  .formAuth {
    padding-top: 95px;
    margin-left: 115px;
  }
  .formTitle {
    margin-bottom: 71px;
  }
}
