.exampleBox {
  padding: 40px 15px 60px;
}

@media screen and (min-width: 768px) {
  .exampleBox {
    padding: 100px 87px 61px 92px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .flexBox {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  .exampleBox {
    padding: 137px 30px 60px 115px;
    width: 745px;
  }
}
