.exampleBox {
  position: relative;
  padding: 40px 15px 60px;
}
.isHidddenTablet {
  display: flex;
  justify-content: center;
}
.isHidddenMobile {
  display: none;
}

.backButton {
  position: absolute;
  z-index: 10;
  top: -30px;
  left: 15px;
}
.notification {
  margin-top: 20px;
  min-width: 300px;
  max-width: 500px;
  color: red;
}

@media screen and (min-width: 768px) {
  .exampleBox {
    height: auto;
    min-height: 47vmax;
    padding: 70px 87px 61px 92px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .notification {
    margin-top: 0;
  }
  .isHidddenTablet {
    display: none;
  }
  .isHidddenMobile {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .flexBox {
    display: flex;
  }
  .exampleBox {
    padding: 80px 30px 60px 115px;
    width: 58%;
  }
}
