.loginWrapper {
  padding-top: 40px;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-top: 191px;
    @media screen and (min-width: 1280px) {
      padding-top: 217px;
    }
  }
}

.loginForm {
  display: flex;
  flex-direction: column;

  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
.loginTitle {
  margin-bottom: 60px;

  color: orange;
  text-align: center;
  font-family: 'GothamPro-Bold';
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.login {
  font-family: 'Verdana';
  margin-bottom: 40px;
  height: 36px;
  width: 289px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  outline: none;
  color: #9b9faa;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
.password {
  font-family: 'Verdana';
  margin-bottom: 73px;
  height: 36px;
  width: 289px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  outline: none;
  color: #9b9faa;
  border: none;
  border-bottom: 1px solid;
}

.buttons {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    flex-direction: row;
  }
}
.buttons > button:last-child {
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}
