.navigation {
  display: flex;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #212121;
}

.link:first-child {
  margin-right: 15px;
}

@media (min-width: 1280px) {
  .navigation {
    padding-left: 22px;
  }
  .isHidden {
    display: none;
  }
}
