.navigation {
  display: flex;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #9b9faa;
}

.link:first-child {
  margin-right: 15px;
}

.linkActive {
  color: #212121;
}

.mobileNavigation {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 82px;
  left: 0;
  right: 0;
  padding: 60px 15px;
  background-color: #264061;
  text-align: center;
}

.mobileNavigationItem:not(:last-child) {
  margin-bottom: 25px;
}

.mobileNavigationLink {
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #9b9faa;
}

.mobileNavigationLinkActive {
  color: #fff;
}

.toggleHidden {
  display: none;
}

@media (min-width: 1280px) {
  .navigation {
    padding: 7px 0 7px 22px;
    flex-grow: 1;
    border-left: 2px solid #e0e0e0;
  }
  .isHidden {
    display: none;
  }
  .toggleHidden {
    display: block;
  }
}
