@import '../../utils/variables.css';

/* MainPage */

.mainPage {
  width: 100%;
  height: 648px;
}

@media screen and (min-width: 768px) {
  .mainPage {
    height: 1024px;

    background-image: url('../../images/bg-pictures/tablet/strawberry.png'),
      url('../../images/bg-pictures/tablet/banana.png'),
      url('../../images/bg-pictures/tablet/leaves.png'),
      url('../../images/bg-pictures/tablet/stain.svg');

    background-size: 308px 303px, 491px 431px, 602px 531px, 521px 563px;
    background-position: right 24px bottom 168px, right 0 bottom 0,
      right 166px bottom -50px, right 0 bottom -4px;

    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .mainPage {
    height: auto;
    min-height: 100vh;
    background-image: url('../../images/bg-pictures/desktop/leaves_main.png'),
      url('../../images/bg-pictures/desktop/banana.png'),
      url('../../images/bg-pictures/desktop/strawberry.png'),
      url('../../images/bg-pictures/desktop/stain.svg');

    background-size: 746px 820px, 715px 510px, 386px 379px, 715px 849px;
    background-position: right 195px top 0px, right -247px top -50px,
      right -8px top 470px, right -113px top 70px;
    background-repeat: no-repeat;
  }
}

/* Modal */

.modal_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--mainText);
  margin-top: 0;
  margin-bottom: 40px;
}

.modal_caloriesNumber {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #264061;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 19px;
}

.modal_calories {
  font-size: 16px;
}

.modal_subTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--mainText);
  margin-bottom: 22px;
}

.modal_el {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--subText);
  margin-bottom: 10px;
}

.modal_list {
  margin-bottom: 40px;
}

.modal_button {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal_title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 22px;
  }

  .modal_caloriesNumber {
    margin-bottom: 12px;
  }

  .modal_closeBtn {
    position: absolute;
    top: 24.17px;
    right: 24.17px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
}
