.registrationPage {
  width: 100%;
  height: 648px;
}

.registrationPage__form {
  width: 290px;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .registrationPage {
    height: 1024px;

    background-image: url('../../images/bg-pictures/tablet/strawberry.png'),
      url('../../images/bg-pictures/tablet/banana.png'),
      url('../../images/bg-pictures/tablet/leaves-login.png'),
      url('../../images/bg-pictures/tablet/stain.svg');

    background-size: 426px 420px, 491px 431px, 740px 745px, 521px 563px;
    background-position: right -110px top 421px, right -12px top 593px,
      right 0px top 0px, right 0px top 461px;

    background-repeat: no-repeat;
  }

  .registrationPage__form {
    width: 382px;

    margin-top: 112px;
    margin-left: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .registrationPage {
    height: auto;
    min-height: 100vh;

    background-image: url('../../images/bg-pictures/desktop/strawberry.png'),
      url('../../images/bg-pictures/desktop/banana.png'),
      url('../../images/bg-pictures/desktop/leaves.png'),
      url('../../images/bg-pictures/desktop/stain.svg');

    background-size: 386px 379px, 715px 510px, 756px 857px, 716.5px 849px;
    background-position: right 0 top 183px, right -205px top 340px,
      right 208px top -26px, right 0 top 0px;

    background-repeat: no-repeat;
  }

  .registrationPage__form {
    width: 382px;

    margin-top: 78px;
    margin-left: 115px;
  }
}
