@import '../../utils/variables.css';

.caloriesForm {
  width: 100%;
  margin: auto 0;
  padding: 40px 65px 60px 15px;
  font-family: Verdana, Arial, sans-serif;
}

.caloriesForm h2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: #212121;
  margin-bottom: 40px;
}

.caloriesForm label {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: #9b9faa;
}
.caloriesForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
}
.caloriesForm input[type='number']::-webkit-inner-spin-button,
.caloriesForm input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.caloriesForm input[type='number'] {
  -moz-appearance: textfield;
}
.formContainerF {
  margin-bottom: 30px;
}
.formContainerS {
  margin-bottom: 30px;
}
.radioContainer {
  margin-bottom: 40px;
}
.caloriesFormError {
  font-family: Verdana;
  font-size: 10px;
  line-height: 1.2;
  color: red;
}
@media (min-width: 768px) {
  .caloriesForm {
    width: 100%;
    padding: 100px 70px 60px 80px;
  }

  .formContainerMain {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
  }

  .formContainerLeft,
  .formContainerRight {
    width: 50%;
  }

  .caloriesForm input {
    width: 85%;
  }

  .caloriesForm h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .radioButton:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: 1280px) {
  .caloriesForm {
    width: 745px;
    height: 695px;
    padding: 137px 25px 110px 115px;
  }
  .formContainerMain {
    max-width: 745px;
  }
  .caloriesForm h2 {
    font-size: 34px;
  }
}

/* Modal */

.modal_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--mainText);
  margin-top: 0;
  margin-bottom: 40px;
}

.modal_caloriesNumber {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #264061;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 19px;
}

.modal_calories {
  font-size: 16px;
}

.modal_subTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--mainText);
  margin-bottom: 22px;
}

.modal_el {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--subText);
  margin-bottom: 10px;
}

.modal_list {
  margin-bottom: 40px;
}

.modal_button {
  display: flex;
  justify-content: center;
}

.modal_closeBtn {
  padding: 0;
  position: absolute;
  width: 18px;
  height: 12px;
  top: -22px;
  left: 15px;
  border: none;
  background-color: #eff1f3;
  background-image: url('../../images/bg-pictures/mobile/arrow.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal_title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 22px;
  }

  .modal_caloriesNumber {
    margin-bottom: 12px;
  }

  .modal_closeBtn {
    width: 12px;
    left: auto;
    right: 24.17px;
    top: 24.17px;
    background-image: url('../../images/bg-pictures/mobile/close.svg');
    background-color: white;
  }
}
