@import '../../utils/variables.css';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid #9b9faa;
  -webkit-text-fill-color: #9b9faa;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.caloriesForm {
  width: 100%;
  margin: auto 0;
  max-width: 900px;
  padding: 40px 65px 60px 15px;
  font-family: Verdana, Arial, sans-serif;
}
.form_button {
  margin-left: 50px;
  text-align: center;
}
.caloriesForm h2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: #212121;
  margin-bottom: 40px;
}

.caloriesForm label {
  /*  */
  display: block;
  padding-top: 5px;
  height: 25px;
  /*  */
}
/*  */
.caloriesForm .labelText {
  font-family: Verdana;
  font-weight: bold;
  cursor: text;
  font-size: 14px;
  line-height: 1.2;
  color: #9b9faa;
  transform: translateY(-20px);
  transition: all 0.3s;
}
/*  */
.caloriesForm input[type='number']::-webkit-inner-spin-button,
.caloriesForm input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.caloriesForm input[type='number'] {
  -moz-appearance: textfield;
}
.caloriesForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #9b9faa;
  /*  */
  transition: all 0.3s;
  /*  */
}
/*  */
.caloriesForm input:focus ~ .labelText {
  font-size: 12px;
  transform: translateY(-35px);
}
.caloriesForm input:valid ~ .labelText {
  font-size: 12px;
  transform: translateY(-35px);
}
/*  */

.labelContainer {
  margin-bottom: 15px;
}

.caloriesForm input::-webkit-scrollbar-thumb {
  color: transparent;
}

.formContainerF {
  margin-bottom: 30px;
}
.formContainerS {
  margin-bottom: 30px;
}
.caloriesFormErrorContainer {
  height: 19px;
}
.caloriesFormError {
  font-family: Verdana;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.6;
  color: red;
}
.radioButtonContainer {
  display: block;
  position: relative;
  margin-top: 20px;
  height: auto;
  width: 240px;
}

.radioButtonContainer h3 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: #9b9faa;
}
.radioButtonList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.radioButtonList li {
  color: #9b9faa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
}
.radioButtonList li input[type='radio'] {
  position: absolute;
  visibility: hidden;
}
.radioButtonList li label {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 0.04em;
  padding: 10px 10px 25px 30px;
  margin: 17px auto;
  height: 10px;
  z-index: 0;
  cursor: pointer;
  transition: all 0.25s linear;
}
.radioButtonList li:hover label {
  font-weight: bold;
  color: #fc842d;
}

.radioButtonList li .check {
  display: block;
  position: absolute;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 25px;
  left: 5px;
  z-index: -1;
  transition: border 0.25s linear;
}

.radioButtonList li:hover .check {
  border: 1px solid #fc842d;
}

.radioButtonList li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 4px;
  left: 4px;
  margin: auto;
}
input[type='radio']:checked ~ .check {
  border: 1px solid #e0e0e0;
}

input[type='radio']:checked ~ .check::before {
  background: #fc842d;
}

input[type='radio']:checked ~ label {
  font-weight: bold;
  color: #fc842d;
}

@media (min-width: 768px) {
  .caloriesForm {
    height: auto;
    min-height: 44vh;
    width: 100%;
    padding: 70px 70px 60px 80px;
  }
  .form_button {
    margin-left: 0;
    text-align: right;
  }
  .formContainerMain {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  .formContainerLeft,
  .formContainerRight {
    width: 50%;
  }

  .labelContainer {
    margin-bottom: 25px;
  }

  .caloriesForm input {
    width: 85%;
  }

  .caloriesForm h2 {
    font-size: 30px;
    line-height: 1.2;
  }

  .radioButton:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: 1280px) {
  .caloriesForm {
    height: auto;
    min-height: auto;
    width: 745px;
    padding: 80px 25px 110px 115px;
  }
  .formContainerMain {
    max-width: 745px;
  }
  .caloriesForm h2 {
    font-size: 34px;
  }
}

/* Modal */

.modal_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--mainText);
  margin-top: 0;
  margin-bottom: 40px;
}

.modal_caloriesNumber {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #264061;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 19px;
}

.modal_calories {
  font-size: 16px;
}

.modal_subTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--mainText);
  margin-bottom: 22px;
}

.modal_el {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--subText);
  margin-bottom: 10px;
  list-style: decimal;
}

.modal_list {
  margin-bottom: 40px;
  padding-left: 20px;
}

.modal_button {
  display: flex;
  justify-content: center;
}

.modal_closeBtn {
  padding: 0;
  position: absolute;
  width: 18px;
  height: 12px;
  top: -22px;
  left: 15px;
  border: none;
  background-color: #eff1f3;
  background-image: url('../../images/bg-pictures/mobile/arrow.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal_title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 22px;
  }

  .modal_caloriesNumber {
    margin-bottom: 12px;
  }

  .modal_closeBtn {
    width: 12px;
    left: auto;
    right: 24.17px;
    top: 24.17px;
    background-image: url('../../images/bg-pictures/mobile/close.svg');
    background-color: white;
  }
}

.hidden {
  overflow: hidden;
}
