.header {
  position: relative;
  padding: 18px 0;
  border-bottom: 2px solid #e0e0e0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexContainer2 {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flexContainer {
    padding: 17px 87px 19px 69px;
  }
}

@media (min-width: 1280px) {
  .header {
    border-bottom: none;
  }

  .flexContainer {
    padding: 122px 115px 0 90px;
    justify-content: start;
    align-items: baseline;
  }

  .flexContainer2 {
    flex-direction: row-reverse;
    flex-grow: 1;
  }
}
