.diaryAddProductForm {
  margin-top: 40px;
  position: relative;
}

.form {
  display: flex;
  align-items: baseline;
}

.hiddenText {
  display: none;
}

.selectProduct {
  overflow-y: scroll;
  position: absolute;
  top: 70px;
  left: 0;
  width: 70%;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
  .hiddenText {
    display: block;
  }
  .hiddenIcon {
    display: none;
  }
}
