.diaryAddProductForm {
  margin-top: 40px;
  position: relative;
}

.form {
  display: flex;
  align-items: baseline;
}

.hiddenText {
  display: none;
}

.selectProduct {
  overflow-y: scroll;
  position: absolute;
  top: 70px;
  left: 0;
  width: 70%;
  height: 150px;
}

.selectProduct > option {
  padding: 5px 5px;
  transition: all 250ms linear;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selectProduct > option:hover {
  background-color: var(--color-active);
  color: white;
  cursor: pointer;
  transition: all 250ms linear;
  overflow: visible;
}

@media screen and (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .hiddenText {
    display: block;
  }

  .hiddenIcon {
    display: none;
  }
}
