html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.215;
  letter-spacing: 0.04em;
}

p,
ul,
li,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
